/*NAVIGATION*/

.container__header {
    background-color: #fff;
    box-shadow: inset 1px 0px 29px -6px rgba(196,196,196,1);
    width: 100%;
    max-width:1100px;
}

.header__nav {
padding-top: 10px;
}

.header__nav--link {
    margin-left: 49px;
    font-size: 18px;
    text-decoration: none;
    text-align: right;
    color: rgba(135, 135, 135, 255);  
}

.header__nav--link:active {
    color: #da251d;
}

.header__nav--link:hover {
    color: #da251d;
}

.header__nav--link:last-child{
    float: right;
    margin-right: 20px;
}