.baner {
    padding-bottom: 2%;
    padding-top: 2%;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: inset 1px 0px 29px -6px rgba(196,196,196,1);
    display: flex;
    align-items: center;
    justify-content: center;
}

