
body {
    width: 100%;
    background-image: url(img/upper%20background.png), url(img/background.png);
    background-position:center, 0 27%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, contain;
    color: #8c8c8c;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
       @include mQ(425px){
       font-size: 10px;
    }
}

h2 {
    font-size: 22px;
       @include mQ(425px){
       font-size: 14px;
    }
}

h3 {
    font-size: 14px;
}


