.container {
    width: 100%;
    max-width: 1100px;
    margin: 100px auto;
}

.logo {
    width: 30%;
    margin: 0px 0px;
     @include mQ(425px){
       width: 50%;
    }
}

.logo__img {
    width: 100%;
}
