/*KROPKI*/

.slick-dotted.slick-slider
{
    margin-bottom: 20px;
}

.slick-dots
{
    position: relative;
    top: -356px;
    float:right;
    display: block;
    padding-right: 30px;
    margin-right: 30px;
    list-style: none;
    text-align:right;
    li button:before
{
    font-family: 'slick';
    font-size: 15px;
    width: 13px;
    height: 13px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: $button_blue;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
    li.slick-active button:before
{
    opacity: 1;
    color: $red;   
}
}

